= form_for [:admin, @brand], html: { class:"form-horizontal brand_form" } do |f|
  - if @brand.errors.any?
    .alert.alert-danger
      %p= "#{pluralize(@brand.errors.count, "error")} prevented the form from being saved:"
      %ul
        - @brand.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.text_field :name, class: "form-control", placeholder: "Enter name", required: true
  .form-group
    = f.text_field :owner_name, class: "form-control", placeholder: "Enter owner name", required: true
  .form-group
    = f.text_area :description, class: "form-control", placeholder: "Enter description"
  .form-group
    = f.submit :save, class: "btn btn-success"
  