= form_for [:admin, @price_request], remote: true do |f|
  #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title Request for price
        .modal-body
          %form
            = f.hidden_field :product_id, value: product_id
            .form-group
              = f.label :name
              = f.text_field :name, class: "form-control", placeholder: "Your full name", required: true
            .form-group
              = f.label :email_id
              = f.text_field :email_id, class: "form-control", placeholder: "Your email id", required: true
            .form-group
              = f.label :mobile_no
              = f.text_field :mobile_no, class: "form-control", placeholder: "Your mobile no", required: true
            .form-group
              = f.label :query
              = f.text_field :query, class: "form-control", placeholder: "Your query", required: true
        .modal-footer
          %button.btn-sautra{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit "Send", class: "btn-sautra"
