= form_for [:admin, @post], html: { class:"form-horizontal", multipart: true } do |f|
  - if @post.errors.any?
    .alert.alert-danger
      %p= "#{pluralize(@post.errors.count, "error")} prevented the form from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .col-md-9 
    .form-group
      = f.text_field :title, class: "form-control", placeholder: "Enter post title", required: true
    .form-group
      = f.text_area :description, class: "form-control wysihtml5", placeholder: "Enter post description"
  .col-md-3
    .x_panel
      .x_title
        %h2
          Select category
        .clearfix
      .category_box
        = render :partial => 'category', :collection => post_categories, :locals => {:f => f}

      %hr
      .x_title
        %h2
          Other details
        .clearfix
      .x_content
        .form-group
          .checkbox
            %label.check-box
              = f.check_box :featured, type: "checkbox"
              %span Mark as featured

        .form-group
          %label.switch
            Draft
            = f.check_box :status, type: "checkbox"
            %span Publish
        
        = f.hidden_field :user_id, value: current_user.id
                
      .form-group
        = f.submit :save, class: "btn btn-success pull-right"
        = link_to "Back", admin_posts_path, class: "btn btn-default"

- unless @post.new_record?
  .row
    .x_panel
      .x_title
        %h2
          %i.fa.fa-bars
          Images
        .clearfix
      .x_content
        .col-xs-3
          %ul.nav.nav-tabs.tabs-left
            %li.active
              %a{"data-toggle" => "tab", :href => "#post_pictures"} List of images
            %li
              %a{"data-toggle" => "tab", :href => "#profile"} Upload Image
        .col-xs-9
          / Tab panes
          .tab-content
            #post_pictures.tab-pane.active
              %p.lead List of images
              = render @post.pictures
            #profile.tab-pane
              %p Drag multiple files to the box below for multi upload or click to select files.
              = form_tag "upload.js", remote:true , multipart: true, class:"dropzone"
