%tr.pointer
  %td.a-center
    %label.check-box.check-box-sm
      = check_box_tag "posts[]", post.id, @post_catelog_items.include?(post.id)
      %span
  %td
    .fa-star.fa{ class: ( post.featured ? 'text-danger' : 'text-default' )}
    = post.title
  %td= post.user.email
  %td= post.category.name
  %td= post.featured
  %td= post.status == 1 ? 'Published' : 'Draft'
  %td.last
    = link_to edit_admin_post_path(post) do
      .fa.fa-edit.fa-lg
    = link_to [:admin, post], data: {confirm: 'Are you sure?'}, method: :delete do
      .fa.fa-trash.fa-lg