%li.list-group-item{ id: "#{dom_id(cart_item)}" }
  .row
    = hidden_field_tag "order[product_ids][]", cart_item.product.id
    .col-sm-1= image_tag(cart_item.product.pictures.first.avatar.url(:thumb)) unless cart_item.product.pictures.blank?
    .col-sm-3= cart_item.product.name
    .col-sm-1= number_field_tag "order[qtys][]", 1, class: "form-control input-sm", maxlength: 1
    .col-sm-2
      .fa.fa-inr= cart_item.product.sell_price
    .col-sm-3= cart_item.product.name
    .col-sm-1
      .fa.fa-inr= cart_item.product.sell_price
    .col-sm-1.text-right
      = link_to "", cart_item, data: {confirm: 'Are you sure?'}, method: :delete, remote: true, class: "fa fa-times-circle"
