.col-sm-3
  = f.radio_button :address_id, address.id, class: "radio", required: true, checked: address.default
  %span
    = address.name 
    %br
    = "#{address.street_address}, #{address.city}"
    %br
    = "#{address.state}, #{address.country}"
    %br
    = "Pincode : #{address.pincode}"
    %br
    = "Mob No. #{address.phone_number}"
    %br
    = address.landmark
